<ion-header>

  <ion-navbar>
    <ion-title>Budget Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Category</ion-label>
      <ion-select text-wrap interface="action-sheet" [(ngModel)]="newCategory" [compareWith]="compareCategories">
        <ion-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="newAmount" placeholder="{{budget.amount}}{{budget.currency}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Description</ion-label>
      <ion-input [(ngModel)]="newDescription" placeholder="{{budget.description}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Valability</ion-label>
      <ion-select text-wrap interface="action-sheet" [(ngModel)]="newValability" [compareWith]="compareValabilities">
        <ion-option *ngFor="let valability of valabilities" [value]="valability">{{valability}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button outline item-end (click)="updateBudget()">Update</button>
</ion-content>
