<ion-header>
    <ion-navbar>
        <ion-title>
            Expenses
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom right>
        <button ion-fab (click)="addExpensePrompt()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-item>
        <ion-label>Budget</ion-label>
        <ion-select text-wrap interface="action-sheet" [(ngModel)]="selectedBudget" [compareWith]="compareBudgets"
                    (ngModelChange)="budgetSelected()">
            <ion-option *ngFor="let budget of budgets" [value]="budget">{{budget.description}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-slides pager=true (ionSlideDidChange)="setRecurring()">
        <ion-slide>
            <ion-item no-lines text-wrap *ngFor="let data of expenseLogs">
                {{data.description}}<br>
                {{data.amount}}{{selectedBudget.currency}}<br>
                {{data.timestamp}}<br>
                <button ion-button outline right (click)="deleteExpenseLogPrompt(data)">Delete</button>
            </ion-item>
        </ion-slide>
        <ion-slide>
            <ion-item text-wrap>
                <ion-label>Allow expense mail notifications</ion-label>
                <ion-checkbox [(ngModel)]="allowNotifications" (ionChange)="enableNotifications()"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label text-wrap>Only valid recurring expenses</ion-label>
                <ion-checkbox [(ngModel)]="valid"></ion-checkbox>
            </ion-item>
            <ion-item no-lines *ngIf="!valid">
                <ion-item text-wrap *ngFor="let data of recurringExpenses">
                    {{data.description}}<br>
                    {{data.amount}}{{selectedBudget.currency}}<br>
                    Recurrence:{{data.recurrence}}<br>
                    Last applied on: {{data.lastOccurence.toString().split(',').join('/')}}<br>
                    Expires on:{{data.expirationDate.toString().split(',').join('/')}}
                    <button ion-button outline (click)="editRecurringExpense(data)">Edit</button>
                    <button ion-button outline (click)="deleteRecExpensePrompt(data)">Delete</button>
                </ion-item>
            </ion-item>
            <ion-item no-lines *ngIf="valid">
                <ion-item text-wrap *ngFor="let data of validRecurringExpenses">
                    {{data.description}}<br>
                    {{data.amount}}{{selectedBudget.currency}}<br>
                    Recurrence:{{data.recurrence}}<br>
                    Last applied on: {{data.lastOccurence.toString().split(',').join('/')}}<br>
                    Expires on:{{data.expirationDate.toString().split(',').join('/')}}
                    <button ion-button outline (click)="editRecurringExpense(data)">Edit</button>
                    <button ion-button outline (click)="deleteRecExpensePrompt(data)">Delete</button>
                </ion-item>
            </ion-item>
        </ion-slide>
    </ion-slides>
</ion-content>
