<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Budgets" class="tab-highlight"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Categories" class="tab-highlight"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Expenses" class="tab-highlight"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Graph" class="tab-highlight"></ion-tab>
</ion-tabs>
