<ion-header>

    <ion-navbar>
        <ion-title>Add recurring expense</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Description</ion-label>
            <ion-input [(ngModel)]="newDescription"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Amount</ion-label>
            <ion-input type="number" [(ngModel)]="newAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Recurrence</ion-label>
            <ion-select text-wrap interface="action-sheet" [(ngModel)]="newRecurrence"
                        [compareWith]="compareValabilities">
                <ion-option *ngFor="let valability of valabilities" [value]="valability">{{valability}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Expiration date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="newExpirationDate"></ion-datetime>
        </ion-item>
    </ion-list>
    <button ion-button outline item-end (click)="addRecExpense()">Add</button>
</ion-content>
