<ion-header>
    <ion-navbar>
        <ion-title>
            Categories
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-fab bottom right>
        <button ion-fab (click)="addCategory()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-item padding *ngFor="let bc of baseCategoriesData">
        <ion-row (click)="toggleDetails(bc)">
            <ion-col>
                {{bc.categ}}
            </ion-col>
            <ion-col class="right">
                <ion-icon [name]="bc.icon"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-item no-lines *ngIf="bc.showDetails">
            <ion-item text-wrap *ngFor="let c of bc.subcategories">
                <div class="itemTitle">
                    {{c.name}}
                </div>
                {{c.description}}
                <button ion-button outline (click)="editCategory(c)">Edit</button>
                <button ion-button outline (click)="deleteCategoryPrompt(c)">Delete</button>
            </ion-item>
        </ion-item>
    </ion-item>
</ion-content>
