<ion-header>
    <ion-navbar>
        <ion-title>
            Budgets
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-fab bottom right>
        <button ion-fab (click)="addBudget()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-item text-wrap>
        <ion-label>Allow budget mail notifications</ion-label>
        <ion-checkbox [(ngModel)]="allowNotifications" (ionChange)="enableNotifications()"></ion-checkbox>
    </ion-item>
    <ion-item text-wrap *ngFor="let data of budgetData">
        <ion-row (click)="toggleDetails(data)">
            <ion-col class="itemTitle">
                {{data.budget.description}}
            </ion-col>
            <ion-col class="right">
                <ion-icon [name]="data.icon"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-item no-lines *ngIf="data.showDetails">
            Category: {{data.categ.name}}<br>
            Amount: {{data.budget.amount}}{{data.budget.currency}}<br>
            Amount consumed: {{data.budget.amountConsumed}}{{data.budget.currency}}<br>
            Last renewal: {{data.budget.lastRenewal.toString().split(',').join('/')}}<br>
            Valability: {{data.budget.valability}}<br>
            <button ion-button outline (click)="editBudget(data.budget)">Edit</button>
            <button ion-button outline (click)="deleteBudgetPrompt(data.budget)">Delete</button>
        </ion-item>
    </ion-item>

</ion-content>
