<ion-header>

    <ion-navbar>
        <ion-title>Add Budget</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Category</ion-label>
            <ion-select text-wrap interface="action-sheet" [(ngModel)]="newCategory" [compareWith]="compareCategories">
                <ion-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Currency</ion-label>
            <ion-select text-wrap interface="action-sheet" [(ngModel)]="newCurrency" [compareWith]="compareCurrencies">
                <ion-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Amount</ion-label>
            <ion-input type="number" [(ngModel)]="newAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Description</ion-label>
            <ion-input [(ngModel)]="newDescription"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Valability</ion-label>
            <ion-select text-wrap interface="action-sheet" [(ngModel)]="newValability"
                        [compareWith]="compareValabilities">
                <ion-option *ngFor="let valability of valabilities" [value]="valability">{{valability}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <button ion-button outline item-end (click)="addBudget()">Add</button>
</ion-content>

