<ion-header>

  <ion-navbar>
    <ion-title>Budget App</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding="2">
  <ion-item>
    <ion-input [(ngModel)]="username" placeholder="Username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
  </ion-item>
  <div class="center" margin-top="2">
    <button ion-button (click)="logIn()">Log In</button>
  </div>

</ion-content>
