<ion-header>

    <ion-navbar>
        <ion-title>Add Category</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label color="primary">Base Category</ion-label>
            <ion-select text-wrap interface="action-sheet" [(ngModel)]="newBaseCategory"
                        [compareWith]="compareBaseCategories">
                <ion-option *ngFor="let baseCategory of baseCategories"
                            [value]="baseCategory">{{baseCategory}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Name</ion-label>
            <ion-input [(ngModel)]="newName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Description</ion-label>
            <ion-input [(ngModel)]="newDescription"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button outline item-end (click)="addCategory()">Add</button>
</ion-content>
