<ion-header>

  <ion-navbar>
    <ion-title>rec-expense-edit</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Description</ion-label>
      <ion-input [(ngModel)]="newDescription" placeholder="{{recExpense.description}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="newAmount" placeholder="{{recExpense.amount}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Expiration date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="newExpirationDate" placeholder="{{recExpense.expirationDate}}"></ion-datetime>
    </ion-item>
  </ion-list>
  <button ion-button outline item-end (click)="updateRecExpense()">Update</button>
</ion-content>
