<ion-header>

  <ion-navbar>
    <ion-title>Edit Category</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Description</ion-label>
      <ion-input [(ngModel)]="newDescription" placeholder="{{category.description}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Name</ion-label>
      <ion-input [(ngModel)]="newName" placeholder="{{category.name}}"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button outline item-end (click)="updateCategory()">Update</button>
</ion-content>
